$def with (username, s)

<script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/game.js"></script>

<script type="text/javascript">
    var username = "$username";
    update();
    setInterval('update()', 5000);
</script>

<!-- messages -->
<div id="scrollable" style="overflow-y:scroll; height:300px;">
<table width="100%" id="message">
</table>
</div>

<!-- players -->
<div id="players">
</div>

<!-- form -->
<div id="form">
</div>

