$def with (s)

<form>
<input type="hidden" name="sid" value="$id(s)">
$if s.targets is not None:
    <h2>请选择指认目标</h2>
    <table>
    $for target in s.targets:
        $if target is not None:
            <tr><td><input type="radio" name="target" value="user:$target.username">$target.nickname</input></td></tr>
        $else:
            <tr><td><input type="radio" name="target" value="None" checked="checked">弃权</input></td></tr>
    </table>
<h2>请发言</h2>
<textarea rows="4" cols="50" name="words"> </textarea>
</form>
<p>
    <button onclick="send('submit')">确认</button> &nbsp;
</p>